body {
  background-image:url("http://65.media.tumblr.com/010c46067b29b710ce9a508fb4171dfb/tumblr_inline_n1ubnjJXdz1qmvw6b.gif");
  padding: 100px;
  font-family: helvetica;
  color:#364863;
}
div{
  width:900px;
}
#dogpalgif{
  position:relative
    Top:600
    left:900
 Width:300;
Height:175;
  float:right;
}
